@{
    ViewData["Title"] = "Home Page";
}
@model ASP.NetCoreReactJSTwitter.User
<div id="react-app">Loading...</div>
@section scripts {
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
